upstream cicd-demo-upstream {
  least_conn;
  server 127.0.0.1:8081;
  server 127.0.0.1:8082;
  server 127.0.0.1:8083 down;
  server 127.0.0.1:8084 down;
  keepalive 16;
}

server {
  listen       80;
  listen       [::]:80;

  server_name  localhost;

  large_client_header_buffers 4 64k;

  error_log    /var/log/nginx/error-app.log  warn;

  location / {
    proxy_pass                            http://cicd-demo-upstream;

    proxy_http_version                    1.1;
    proxy_set_header      Connection      "";

    proxy_redirect                        off;
    proxy_set_header      Host            $host;
    proxy_set_header      X-Real-IP       $remote_addr;
    proxy_set_header      X-Forwarded-For $proxy_add_x_forwarded_for;
  }
}
